header,
footer,
section {
  text-align: center;
}

.hidden-section {
  visibility: hidden;
}

.on-load {
  visibility: visible;
}

.but-div {
  text-align: center;
}

.error-request {
  color: red;
  border: 1px solid red;
}


.table-section table,
table td {
  border: 1px solid black;
  margin-left: 45%;
}

table td {
  padding: 10px;
}

.table-section h2{
  margin-top: 5%;
}