header,
footer,
section {
  text-align: center;
}
.column-two-third {
  width: 66%;
  float: left;
}

.column-third {
  width: 33%;
  float: left;
}


.hidden-section {
  visibility: hidden;
}

.on-load {
  visibility: visible;
}

.but-div {
  text-align: center;
}

.error-request {
  color: red;
  border: 1px solid red;
}

ul li {
  list-style: none;
}


.table-section table,
table td {
  border: 1px solid black;
  margin-left: 45%;
}

table td {
  padding: 10px;
}

.table-section h2{
  margin-top: 5%;
}